<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include('../Partials/head'); %>
</head>
<nav>
    <%- include('../Partials/navbar'); %>
</nav>

<body>
    <br>
    <center>
        <div class="container">
            <div class="columns">
                <div class="column">
                    <section class="hero is-danger welcome is-small">
                        <div class="hero-body">
                            <div class="container">
                                <h1 class="title">
                                    Olá, <%= user.username %>.
                                </h1>
                                <h2 class="subtitle">
                                    Você está gerenciando o servidor <strong><%= guild.name %></strong>!
                                </h2>
                            </div>
                        </div>
                    </section>
                    <section class="info-tiles">
                        <div class="tile is-ancestor has-text-centered">
                            <div class="tile is-parent">
                                <article class="tile is-child box">
                                    <p class="title"><%= guild.memberCount %></p>
                                    <p class="subtitle">Membros</p>
                                </article>
                            </div>
                            <div class="tile is-parent">
                                <article class="tile is-child box">
                                    <p class="title"><%= guild.channels.size %></p>
                                    <p class="subtitle">Canais</p>
                                </article>
                            </div>
                            <div class="tile is-parent">
                                <article class="tile is-child box">
                                    <p class="title"><%= guild.roles.size %></p>
                                    <p class="subtitle">Cargos</p>
                                </article>
                            </div>
                        </div>
                        <div class="tabs">
                            <ul>
                                <li class="is-active"><a href="/dashboard/@me/manage/<%= guild.id %>">Geral</a></li>
                                <li><a href="/dashboard/@me/manage/<%= guild.id %>/mod">Automod</a></li>
                                <li><a href="/dashboard/@me/manage/<%= guild.id %>/premium">Premium</a></li>
                            </ul>
                        </div>
                        <!-- Choose one of the server channels to set the fortnite shop -->
                        <div class="field">
                            <label class="label">Escolha um canal para setar o shop do Fortnite</label>
                            <div class="control">
                                <div class="select">
                                    <select id="shopChannel">
                                        <option value="0">Nenhum</option>
                                        <% guild.channels.forEach(channel => { %>
                                        <option onchange="fortniteShop(this.value)" value="<%= channel.id %>"><%= channel.name %></option>
                                        <% }); %>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <!-- Choose one of the server channels to set the logs -->
                            <div class="field">
                                <label class="label">Escolha um canal para setar os logs</label>
                                <div class="control">
                                    <div class="select">
                                        <select id="logsChannel">
                                            <option value="0">Nenhum</option>
                                            <% guild.channels.forEach(channel => { %>
                                            <option onchange="logsChannel(this.value)" value="<%= channel.id %>"><%= channel.name %></option>
                                            <% }); %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </center>
    <br>
    <footer class="footer">
        <%- include('../Partials/footer'); %>
    </footer>
</body>

</html>